{% load staticfiles %}

<head>
	<title>People Search Engine</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{% static 'search/javascript/basic.js' %}" name="basic"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'search/css/style.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id='top'>
		<h1>Boston University</h1>
		<h2><a id = 'keysearch' href='/'>Search by Keywords</a></h2>
		<h2><a id = 'authsearch' href='../../authors/'>Search by Author Name</a></h2>
		<h2><a id = 'teamsearch' href='../../teams/'>Search for a Team</a></h2>
		<h5>Designed by Rob Churchill &amp; Behzad Golshan</h5>
	</div>

	<div id='info'>
		<h1 id='auth_name'>{{author_name}}</h1>
		<h3 id='scholar_link'><a href='{{search_link}}'>Find this person on Google Scholar</a></h3>
		<img id='auth_pic' src="{% static 'search/images/sanaz.jpg' %}" alt='Sanaz is god.' >
		<div id='top_bigrams'>
			<h2>Top Bigrams</h2>
			<ul>
				{% for row in author_bigrams %}
					<li>{{ row.bigram }}, {{ row.freq }}</li>
				{% endfor %}
			</ul>
		</div>
		<div id='top_keywords'>
			<h2>Top Keywords</h2>
			<ul>
				{% for row in author_keywords %}
					<li>{{ row.keyword }}, {{ row.freq }}</li>
				{% endfor %}
			</ul>
		</div>
		<div id='top_papers'>
			<h2>Most Recent Papers</h2>
			<ul>
				{% for row in author_papers %}
					<li>{{ row.title }}, {{ row.year }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>