#top {
	position: relative;
	background: red;
	height: 40px;
	width: 101.5%;
	padding: 0px;
	margin: -10px;
	border-bottom:2px solid black;
}

#top h1 {
	float:left;
	color: white;
	position: absolute;
	left: 15px;
	top: 0px;
	height: 35px;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#keysearch, #authsearch, #teamsearch {
	float: left;
	color: white;
	position: absolute;
	top: 10px;
	height: 35px;
	margin: -5px;
	padding: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: none;
}

#keysearch {
	left: 300px;
}

#authsearch {
	left: 500px;
}

#teamsearch {
	left: 730px;
}

#keysearch:hover, #authsearch:hover, #teamsearch:hover {
	text-decoration: underline;
}

#top h5 {
	color: white;
	position: absolute;
	right: 10px;
	top:10px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
}

form {
	height: 70px;
	position: absolute;
	top:150px;
	left:300px;
}

#id_query {
	border:1px solid black;
	box-shadow: 2px 2px 0px gray;
	border-radius: 10px;
	font-size: 16px;
	height: 30px;
	width: 550px;
	text-indent: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#add_button {
	border:1px solid black;
	box-shadow: 2px 2px 0px gray;
	border-radius: 10px;
	font-weight: bold;
	height: 30px;
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#search_button {
	border:1px solid black;
	box-shadow: 2px 2px 0px gray;
	border-radius: 10px;
	font-weight: bold;
	height: 30px;
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
}

#queries {
	margin-top: 8px;
	position: absolute;
	height: 30px;
}

button {
	margin-top:5px;
	border:1px solid black;
	box-shadow: 2px 2px 0px gray;
	border-radius: 10px;
	background: red;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	width: auto;
}

button:hover {
	background: black;
}

button:active {
	background: white;
	color: red;
}

input {
	background: red;
	color: white;
}

input:hover {
	background: black;
}

input:active {
	background: red;
	color: white;
}

#authorlist {
	position: absolute;
	left: 200px;
	top: 100px;
}

#authorlist li {
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	font-size: 20pt;
}

#info {
	position: absolute;
	left: 200px;
	top: 100px;
}

#info h1, h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
}

#info li {
	font-family: 'Open Sans Condensed', sans-serif;
	color: black;
	font-size: 20pt;
}

#top_bigrams {
	position: relative;
	float: left;
	height: 400px;
	clear:both;
}

#top_keywords {
	position: relative;
	float: left;
	left: 300px;

}

#top_papers {
	clear: both;
}

#bigrams {
	position: relative;
	float: left;
	clear:both;
}

#keywords {
	position: relative;
	float: left;
	left: 300px;
}

#auth_name {
	position: relative;
	float:left;
}

#scholar_link {
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: bold;
	position: relative;
	float: left;
	padding:20px;
	top:-5px;
}

#scholar_link a {
	text-decoration: none;
}

#scholar_link a:hover {
	text-decoration: underline;
}

#auth_pic {
	position: relative;
	float: left;
	height:100px;
	border: solid 5px;
	border-color: red;
}
